*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: 'shabnam';
    src: url('Fonts/Shabnam.woff') format('woff');
}
@font-face{
    font-family: 'comfortaa';
    src: url('Comfortaa-Regular.ttf') format('ttf');
}
body{
    font-family: 'shabnam';
    direction: rtl;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    transition: all .2 ease-in-out;
}
